/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* adjust typography defaults */
body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
}

h1 {
    margin-bottom: 0;
}

/* images and videos max out at full width */
img,
video {
    height: auto;
    max-width: 100%;
}

#privacy {
    width: 60px;
    height: 60px;
}

#privacy.show .show,
#privacy .hide {
    display: block;
}

#privacy.show .hide,
#privacy .show {
    display: none;
}

#privacy svg * {
    fill: #ffffff;
}
