<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Speedometer</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1>
        Speedometer
    </h1>
    <div id="privacy">
        <svg class="show" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 400">
            <path
                d="M104.4429,313.0079c-6.2054-6.1391-11.8539-11.7271-17.3778-17.192,69.6038-69.6301,139.3031-139.3558,208.7449-208.8239,5.4777,5.5255,11.0493,11.1455,17.0996,17.2485-8.136,7.7185-16.7635,15.9035-25.8942,24.5657,3.1788,2.2076,5.1761,3.6263,7.2047,4.9988,23.0586,15.6011,43.3192,34.306,61.3326,55.473,6.7335,7.9122,6.766,12.839-.0152,20.715-27.9373,32.4479-59.9989,59.5796-99.8129,76.5283-38.8357,16.5322-77.499,15.5508-115.7385-1.9071-4.3597-1.9904-6.6423-1.2014-9.6548,1.9952-8.4447,8.9608-17.2224,17.6077-25.8885,26.3985ZM153.0512,263.2735c2.2064,1.0438,3.0698,1.5119,3.976,1.8723,28.3779,11.2854,56.7762,11.385,85.2452.2708,25.3531-9.8978,47.1848-25.2556,67.158-43.4087,7.7205-7.017,14.9112-14.6169,22.5927-22.1974-18.619-20.5284-38.8309-38.1376-62.715-52.6419-8.3405,8.5385-16.6722,16.9082-24.7281,25.5353-.915.9799-.9071,3.6894-.2633,5.1172,4.3712,9.6939,6.1286,19.722,4.1893,30.2029-6.0527,32.7111-40.0013,50.076-70.1787,36.0878-1.4471-.6708-4.1328-.9085-5.0814-.0563-6.6646,5.987-13.0241,12.3133-20.1946,19.2181ZM224.1583,195.5156c-9.5099,9.3273-19.1885,18.8199-28.9689,28.4125,8.7748,1.5829,16.547-.8081,22.7959-7.4664,5.8027-6.1829,7.8146-13.5563,6.173-20.9461Z" />
            <path
                d="M67.419,200.2681c14.058,12.9528,27.6145,25.4435,41.1097,37.8778-5.4075,5.37-11.1777,11.1001-17.0922,16.9735-17.922-14.0029-34.5093-29.586-48.8983-47.4242-4.5831-5.6818-4.1473-11.2338,1.1772-17.5856,14.6027-17.4203,30.9113-33.0721,48.9597-46.9021,22.5414-17.2729,46.8608-31.0882,74.616-38.136,23.2889-5.9136,46.4983-5.3743,69.5894,1.1807.7426.2108,1.4595.5114,3.0544,1.0775-6.7205,6.6704-12.8826,12.8888-19.2103,18.934-.7643.7302-2.4883.9002-3.6572.6966-22.9692-4.0002-44.7744.2846-65.7443,9.5486-32.5851,14.3952-59.0987,36.8742-83.9041,63.7591Z" />
            <path
                d="M195.0258,150.7592c-14.5444,14.593-29.1392,29.2365-43.5485,43.6938-.9418-14.9906,15.0995-41.6074,43.5485-43.6938Z" />
        </svg>
        <svg class="hide" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 400">
            <path
                d="M200.5574,101.2832c28.2655.2144,53.9774,9.1914,78.1683,23.1054,30.0937,17.3091,55.6345,40.019,77.9247,66.4968,4.7899,5.6897,5.4088,11.5856.9675,16.8317-31.3608,37.0436-67.5206,67.6971-114.265,83.6692-36.4508,12.4549-71.941,8.5071-106.349-7.7298-37.3074-17.6051-67.7388-43.9229-94.1146-75.2352-4.3521-5.1666-4.7482-11.2014-.6789-16.0332,31.2794-37.1402,67.5136-67.6304,114.1702-83.8162,14.271-4.9508,29.0224-7.4261,44.177-7.2887ZM331.8409,200.4312c-.6183-.9348-.9089-1.5362-1.3422-2.0061-22.1913-24.0685-46.9714-44.8042-76.5889-59.2682-33.8698-16.5407-68.0847-17.8712-102.7246-2.3542-20.5537,9.2071-39.0316,21.6031-55.8247,36.4761-9.4365,8.3575-18.3257,17.333-27.4102,25.9813,21.235,25.2645,59.81,56.8949,95.4986,68.5382,18.9073,6.1685,38.0745,8.3614,57.6015,4.0582,45.7422-10.0804,79.394-38.9165,110.7906-71.4252Z" />
            <path
                d="M150.7132,199.762c.0827-27.4339,22.1968-49.2278,49.8365-49.1151,26.7348.1091,48.8958,22.4789,48.7939,49.2538-.1043,27.4119-22.4875,49.6916-49.6776,49.4482-27.211-.2437-49.035-22.3503-48.9529-49.5869ZM200.4401,175.2824c-13.5142-.2826-24.7227,10.3396-25.147,23.8316-.4305,13.6875,10.4475,25.2714,23.9934,25.5506,13.7534.2835,25.1346-10.5075,25.4473-24.1277.3135-13.6512-10.5724-24.9675-24.2937-25.2545Z" />
        </svg>
    </div>
    <button id="start">
        Enable
    </button>
    <p id="running">
        Running!<br />
        <span id="data"></span>
    </p>
    <script>window.SOCKET = "{{ SOCKET }}"</script>
    <script src="/index.js"></script>
</body>

</html>