<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Speedometer</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1>
        Speedometer
    </h1>
    <button id="start">
        Enable
    </button>
    <p id="running">
        Running!<br />
        <span id="data"></span>
    </p>


    <script>
        let isFake = false;
        const button = document.querySelector("#start");
        button.addEventListener("click", start);
        const running = document.querySelector("#running");
        running.style.display = "none";
        const data = document.querySelector("#data");

        function start() {
            button.remove();
            running.style.display = "";
            updatePosition();
        }

        function updatePosition() {
            console.log("requesting location");
            navigator.geolocation.watchPosition(onPosition, onError, {
                enableHighAccuracy: true,
                timeout: 10000
            });
        }

        async function onPosition(pos) {
            const { latitude, longitude } = pos.coords;
            const time = Date.now();
            console.log(pos.coords);
            const response = await fetch("/", {
                method: "POST",
                body: JSON.stringify({ time, latitude, longitude })
            });
            const { speed } = await response.json();
            data.innerHTML =
                `Latitude: ${latitude.toFixed(8)}<br/>` +
                `Longitude: ${longitude.toFixed(8)}<br/>` +
                `Last updated: ${new Date(time).toLocaleTimeString()}<br/>` +
                `Speed: ${speed.toFixed(0)} km/h`;
        }

        function onError(e) {
            if (e.code === GeolocationPositionError.POSITION_UNAVAILABLE) {
                isFake = true;
                setInterval(fakePosition, 2000);
            } else if (!isFake) {
                console.error(e);
                running.innerHTML = `Something went wrong! Refresh and try again.<br/>Error code: ${e.code}`;
            }
        }

        function fakePosition() {
            onPosition({
                coords: {
                    latitude: 52 + Math.random() * 0.0003,
                    longitude: 4 + Math.random() * 0.0003
                }
            });
        }
    </script>
</body>

</html>